@model IEnumerable<BKStore_MVC.Models.Customer>

@{
    ViewData["Title"] = "Customers";
    Layout = "_Layout";
}

<div class="container mt-4">
    <h1 class="text-center">Customers</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ID)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.Phone)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td>
                            <a href="@Url.Action("Details", "Customer", new { id = item.ID })" class="btn btn-primary btn-sm">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
